html
    include navbar
    body
        script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js")
        script(type = "text/javascript").
            new ClipboardJS('.copyBtn');
            var shareClip = new ClipboardJS('.shareCopyBtn');
            shareClip.on("success", e => {
                alert("Access Link Copied !\n" + e.text)
            })
        br
        div(class = "container")
            if successMessage != "" && typeof(successMessage) != "undefined"
                div(class = "alert alert-success fade show" role="alert") #{successMessage}
            if failMessage != "" && typeof(failMessage) != "undefined"
                div(class = "alert alert-danger" role="alert") #{failMessage}
            script(type = "text/javascript").
                (() => setTimeout(()=>$(".alert").alert("close"), 5000))()
            if noupload
                div(class = "alert alert-warning") You have no file uploaded !
            else
                h4(class = "text-center") Files You Uploaded.
                table(class = "table")
                    thead(class = "thead-dark")
                        tr 
                            th(scope = "col") #
                            th(scope = "col") File Name
                            th(scope = "col") Extension
                            th(scope = "col") Upload Time
                            th(scope = "col") Delete
                            th(scope = "col") Privacy
                            th(scope = "col") Share 
                    tbody
                        -
                            var index = 0
                        each v, i in files
                            if !v.deleted
                                -
                                    index= index + 1
                                tr
                                    th(scope = "row") #{index}
                                    td #{v.orgName}
                                    td #{v.extension}
                                    td #{v.createTime}
                                    td
                                        form(action = "/files/delete" method = "POST")
                                            input(hidden name = "id" value = v.id)
                                            button(class = "btn btn-dark deleteBtn" type = "submit") Delete
                                    td #{v.public ? "Public" : "Private"}
                                    td
                                        button(class = "btn btn-dark" type = "button" data-toggle="modal" data-target="#shareBox" data-link = v.link data-ispublic = v.public data-fileid = v.id data-filename = v.orgName) Setting
                div(class = "modal fade" id = "shareBox" tabindex = "-1" role = "dialog" aria-labelledby = "shareBoxTitle" aria-hidden = "true")
                    div(class = "modal-dialog modal-dialog-centered" role = "document")
                        div(class = "modal-content")
                            div(class = "modal-header")
                                h5(class = "modal-title" id = "shareBoxLongTitle") File Sharing Setting
                                button(type = "button" class = "close" data-dismiss = "modal" aria-label = "Close")
                                    span(aria-hidden = "true") &times;
                            div(class = "modal-body")
                                form(action="/files/update" method = "POST" id = "updateForm")
                                    input(type = "text" class = "form-control" id = "fileid" name = "fileid" hidden)
                                    div(class = "form-group")
                                        h6(class = "col-form-label text-center") File Name:
                                        input(type = "text" class = "form-control" id = "filename" disabled)
                                    hr
                                    div(class = "form-group")
                                        h6(class = "col-form-label text-center") Privcay Setting:
                                        div(class = "btn-group btn-group-toggle" data-toggle="buttons" style = "width: 100%")
                                            label(class = "btn btn-dark privateBtnClass")
                                                input(type = "radio" name = "public" autocomplete = "off" value = "0")
                                                | Private
                                            label(class = "btn btn-dark publicBtnClass")
                                                input(type = "radio" name = "public" autocomplete = "off" value = "1")
                                                | Public
                                        br
                                        small +Private: Only You & Shared users can access the file.
                                        br
                                        small +Public: Anyone get the link can access the file.
                                    hr
                                    div(class = "form-group")
                                        h6(class = "col-form-label text-center") Share to other User (ID):
                                        input(class = "form-control" type = "number" name = "userid" id = "onlyUserID" placeholder = "User ID")
                                        br
                                    hr
                                div(class = "form-group")
                                    h6(class = "col-form-label text-center") Access Link:
                                    div(id = "accessLinkDiv")
                                        input(class = "form-control" id = "accessLink" type = "text" value = accessLink ? accessLink : "" disabled)
                                    br
                                    button(id = "copyBTN" class = "form-control btn btn-dark copyBTN" data-clipboard-target = "#accessLink") Copy
                                hr
                                form(action = "/share/email" method = "POST")
                                    div(class = "form-group")
                                        h6(class = "col-form-label text-center") Share via Email:
                                        input(name = "id" id = "shareEmailID" hidden)
                                        input(required type = "email" name = "receiverEmail" id = "receiverEmail" class = "form-control" placeholder = "Receiver Email")
                                        br
                                        div(class = "form-check")
                                            input(class = "form-check-input" type = "checkbox" value = "1" name = "onetime" id = "oneTimeCheck")
                                            label(class = "form-check-label" for = "oneTimeCheck") One Time Link
                                        br
                                        input(id = "shareBtn" type = "submit" value = "Share" class = "form-control btn btn-dark")
                            div(class = "modal-footer")
                                button(type = "button" class = "btn btn-secondary" data-dismiss="modal") Close
                                button(type = "button" class = "btn btn-success" id = "saveBtn") Save Changes
                script(type = "text/javascript").
                    $("#copyBTN").on("click", () => {
                        $("#accessLink").removeAttr("disabled");
                        setTimeout(() => {
                            $("#accessLink").attr("disabled", true);
                        }, 100)
                        alert("Access Link Copied\n" + $("#accessLink").val());
                    })
                    $("#shareBox").on("show.bs.modal", e => {
                        $("#fileid").val($(e.relatedTarget).data("fileid"))
                        $("#filename").val($(e.relatedTarget).data("filename"))
                        $("#shareEmailID").val($(e.relatedTarget).data("fileid"))
                        if(!!$(e.relatedTarget).data("link")) $("#accessLink").val(`${window.location.origin}/download/${$(e.relatedTarget).data("link")}`);
                        $($(e.relatedTarget).data("ispublic") == "0" ? ".privateBtnClass" : ".publicBtnClass").addClass("active");
                        $("#onlyUserID").val("");
                        if(!!!$(e.relatedTarget).data("link"))
                            $.ajax({
                                type: "POST",
                                url: "/files/getLink",
                                data: {
                                    id: $("#fileid").val()
                                },
                                success: r => {
                                    var url = `${window.location.origin}/download/${r.result}`;
                                    console.log("test");
                                    $("#accessLink").val(url)
                                    //- $("#copyBTN").attr("data-clipboard-text", url)
                                },
                                error: err => {
                                    alert("Failed to get Access Link\n" + err)
                                }
                            }, )
                    })
                    $("#saveBtn").on("click", () => {
                        $("#updateForm").submit();
                    })
            hr
            if noshare
                div(class = "alert alert-warning") No File Shared to you !
            else
                h4(class = "text-center") Files Shared to You. 
                table(class = "table")
                    thead(class = "thead-dark")
                        tr 
                            th(scope = "col") #
                            th(scope = "col") File Name
                            th(scope = "col") Shared By(User ID)
                            th(scope = "col") Open Now
                            th(scope = "col") Access Link
                    tbody
                        -
                            var currentLink = "";
                        each v, i in sharedFiles
                            tr
                                th(scope = "row") #{i}
                                td #{v.orgName}
                                td #{v.ownerID}
                                td
                                    a(target = "_blank" href = v.shareAccessLink class = "btn btn-dark form-control" role = "button" aria-pressed = "true") Open
                                td
                                    button(class = "form-control btn btn-dark shareCopyBtn" data-clipboard-text = v.shareAccessLink) Copy
            if noshare && noupload
                h1(class = "text-center") No File Uploaded & Shared.